@import "tailwindcss";

@theme {
    --text-xss: 0.6rem;
    /* margin */
    --header-margin-1: 2rem;
    --header-margin-2: 1.5rem;
    --header-margin-3: 1rem;
    --header-margin-4: 0.25rem;
    --header-margin-5: 0.1rem;

    /* breakpoint */
    /* QHD 해상도 화면 */
    --breakpoint-3xl: 2000px;

    /* main color */
    --main-color: #3CC2D1;

    --color-card-background: #f0f0f0;

}

@media screen and (min-width: 2000px) {}

html {
    scroll-behavior: smooth;
}
h1 {
    @apply text-6xl font-bold;
}

h2 {
    @apply text-5xl font-bold;
}

h3 {
    @apply text-2xl font-bold;
}

h4 {
    @apply text-lg font-bold;
}

.notion.notion-page{
    padding-top: 10px;
}
.notion figure{
    padding: 10px;
    border-radius: 10px;
    background-color: #cfcfcf;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.notion .notion-code{
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}
.notion .notion-code .comment{
    color: #6a9955;
}

.opacity-gb {
    background-color: rgba(0, 0, 0, 0.75);
}


.notion-collection-page-properties{
    display: none !important;
}

.text-line-clamp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 원하는 줄 수 설정 */
    overflow: hidden;
    line-height: 1.5; /* 선택적: 줄 간격 조정 */
    max-height: 3em; /* 선택적: (line-height × 줄 수) */
}
@media screen and (max-width: 470px) {
    .notion.notion-page{
        padding: 10px 10px;
    }
    
    .notion figure{
        padding: 10px;
        border-radius: 10px;
    }

    .notion .notion-h-title{
        font-size: 1.4rem;
    }
    .notion blockquote.notion-quote{
        font-size: .8rem;
    }
    .notion .notion-text{
        font-size: 0.8rem;
    }
    .notion .notion-h.notion-h1.notion-h-indent-0{
        margin-top: 20px;
    }
    .notion .notion-list.notion-list-numbered {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .notion .notion-list.notion-list-numbered > li{
        margin-left: 20px;
    }
    
}